.background-arena {
    background: url('img/arena3.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.background-arena1 {
    background: url('img/arena1-filter.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.background-arena3 {
    background: url('img/arena2-filter.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

#main header {
    /*margin-top: 20px;*/
    /*margin: auto;*/
    position: absolute;
    left: 5%;
    top: 20px;
    width: 90%;
    /*background-color: red;*/
    height: 15%;
}

.player-status {
    float: left;
    height: 90%;
    width: 40%;
    margin: 7px;
    vertical-align: middle;
    /*background-color: blue;*/
}

.monster-status {
    float: right;
    height: 90%;
    width: 40%;
    margin: 7px;
    vertical-align: middle;
    /*background-color: blue;*/
}

.player-status p {
    margin: 2px;
    color: white;
    margin-bottom: 8px;
    font-size: 22px;
}

#player-health-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
}

#player-health-status {
    margin: 2px;
    color: white;
    margin-top: 8px;
    font-size: 22px;
}

.monster-status p {
    margin: 2px;
    color: white;
    margin-bottom: 8px;
    font-size: 22px;
    float: right;
}

#monster-health-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    float: right;
    transform: rotate(180deg);
}

#monster-health-status {
    margin: 2px;
    color: white;
    margin-top: 8px;
    font-size: 22px;
    float: right;
}

#player-hit-damage-box {
    position: absolute;
    left: 11%;
    top: 32%;
    height: 125px;
    width: 200px;
}

#monster-hit-damage-box {
    position: absolute;
    right: 11%;
    top: 32%;
    height: 125px;
    width: 200px;
}

#player-hit-damage-box p {
    text-align: center;
    font-family: 'Russo One';
    color: red;
    font-weight: bold;
    line-height: 55px;
    font-size: 36px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    position: absolute;
    bottom: 5px;
}

#monster-hit-damage-box p {
    text-align: center;
    font-family: 'Russo One';
    color: red;
    font-weight: bold;
    line-height: 55px;
    font-size: 36px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    position: absolute;
    bottom: 5px;
}

.player-avatar {
    position: absolute;
    bottom: 90px;
    left: 10%;
}

.player-avatar img {
    max-width: 280px;
    max-height: 370px;
}

.monster-avatar {
    position: absolute;
    bottom: 95px;
    right: 7%;
}

.monster-avatar img {
    max-width: 300px;
}

@media (max-width: 960px) {
    .player-avatar {
        bottom: 100px;
        left: 8%;
    }
    .player-avatar img {
        max-width: 200px;
    }
    .monster-avatar {
        bottom: 105px;
        right: 6%;
    }
    .monster-avatar img {
        max-width: 220px;
    }
}


/*/////////////////////////////// Game Buttons for player and monster /////////////////////////////////*/

.game-button {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(167, 167, 167, 0.3);
    cursor: pointer;
}

#player-attack {
    bottom: 44%;
    left: 28%;
}

#player-defend {
    bottom: 37%;
    left: 31%;
}

#player-special-attack {
    bottom: 29%;
    left: 33%;
}

#player-attack img {
    width: 50px
}

#player-defend img {
    width: 50px
}

#player-special-attack img {
    width: 50px
}

.player-text-box {
    position: absolute;
    top: 17%;
    left: 5%;
    height: 10%;
    width: 36%;
    /*background-color: red;*/
}

.monster-text-box {
    position: absolute;
    top: 17%;
    right: 5%;
    height: 10%;
    width: 36%;
    /*background-color: blue;*/
}

.player-text-box h2 {
    font-size: 44px;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.monster-text-box h2 {
    font-size: 44px;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.player-text-box p {
    position: absolute;
    line-height: 35px;
    top: -20px;
    left: 8px;
    font-size: 19px;
    color: white;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}

.monster-text-box p {
    position: absolute;
    line-height: 35px;
    top: -20px;
    left: 8px;
    font-size: 19px;
    color: white;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}

.end h1 {
    font-family: Orbitron, sans-serif;
    text-align: center;
    font-size: 48px;
    color: rgb(170, 170, 170);
    margin: 20px;
    margin-bottom: 50px;
    position: relative;
    top: 200px;
}

.end {
    margin-top: -20px;
    background-color: rgb(22, 26, 24);
    height: 2200px;
}

#play-again:focus {
    outline: 0;
}

#play-again {
    transition: 0.5s;
    opacity: 0.5;
    margin-top: 85px;
    width: 75%;
    height: 70px;
    border-radius: 20px;
    font-size: 26px;
    background: linear-gradient(red, yellow);
    cursor: pointer;
}

#play-again:hover {
    opacity: 0.8;
}
