/***************** Universal CSS ********/
* :not(ul):not(ol):not(input){
  margin: 0;
  padding: 0;
}

/**************** Header ****************/
.header{
  background-color: yellow;
  border: 6px dashed;
  padding: 35px;
  font-family: arial, sans-serif;
}

.header h1, .header h2{
  word-spacing: 4px;
  color: #E81744;
  text-align: center;
  text-transform: uppercase;
}

.header h1{
  margin-bottom: 15px;
  letter-spacing: 5px;
  font-size: 28px;
}

.header h2{
  font-style: italic;
  font-size: 20px;
}

/**************** Content ***************/
.content{
  background: url('../img/background-image-3.JPG') no-repeat center fixed;
  background-size: cover;
  padding-top: 60px;
  overflow: hidden;
}

/**************** Body ******************/
.body{
  border: 3px solid black;
  width: 85%;
  margin: 0 auto;
  background-color: white;
  padding: 45px 50px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.body p{
  margin-bottom: 15px;
  font-weight: bold;
}

.resize-table{
  width: 75%;
  margin: auto;
}

caption{
  color: black;
  font-size: 18px;
  line-height: 40px;
}

.image-body{
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 100px;
  border: 2px solid black;
  background: url('../img/profile-picture.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

td:nth-child(2){
  text-align: center;
  font-size: 20px;
  color: rgb(204, 102, 0);
}

/**************** Comment ***************/
.comment{
  background: yellow; 
    background: -webkit-linear-gradient(yellow, lightgreen); 
    background: -o-linear-gradient(yellow, lightgreen); 
    background: -moz-linear-gradient(yellow, lightgreen); 
    background: linear-gradient(yellow, lightgreen); 
  
  position:relative;
  left: 60%;
  padding: 65px 50px;
  box-sizing: border-box;
  border-radius: 50px;
  border-left:inset 7px black  
}

.comment strong{
  float: left;
  font-size: 18px;
  font-weight: lighter;
  word-spacing: 2px;
  display: block;
  font-family: "courier", monospace;
  color: rgb(204, 0, 0);
  text-transform: capitalize;
}

label{
  line-height: 18px;
  color: rgb(215, 60, 0);
  font-family: "courier new", monospace;
  font-size: 14px
}

input[type=checkbox], input[type=radio]{
  margin-right: 10px;
}

textarea{
  width: 200px;
  height: 150px;
}

.resize-input{
  width: 30%;
}
